<footer class="site-footer pv4 bt b--transparent ph5" role="contentinfo">
  <div class="site-footer__inner">
    {{ with site.Copyright }}<p class="site-copyright f7 lh-copy">{{ . | safeHTML }}</p>{{ end }}
  </div>
  {{ with site.Params.math }}
    {{ partial "shared/math-preprocess.html" }}
  {{ with .renderer }}
    {{ if eq . "mathjax" }}{{ partial "shared/math-render-mathjax.html" . }}{{ end }}
    {{ if eq . "katex" }}{{ partial "shared/math-render-katex.html" . }}{{ end }}
  {{ end }}
  {{ end }}
</footer>
